@model PortalNeolaser.Areas.Mobile.Models.ElementoAuditadoViewModel
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "ElementoAuditado", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Detalles</li>

        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Id)
            @Html.TextBoxFor(model => model.Id)
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.FkAuditoria)
            @Html.TextBoxFor(model => model.FkAuditoria)
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(model => model.FkElemento)
            @Html.TextBoxFor(model => model.FkElemento)
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(model => model.Descripcion)
            @Html.TextAreaFor(model => model.Descripcion)
        </li>
        <li data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <legend>Seleccion Estado:</legend>
                @Html.Label("correcto", "Correcto")
                @Html.RadioButtonFor(model => model.Estado, "true", new { id = "correcto" })
                @Html.Label("incorrecto", "Inorrecto")
                @Html.RadioButtonFor(model => model.Estado, "false", new { id = "incorrecto" })
            </fieldset>
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(model => model.Foto )
            @*<input type="file" id="image" name="Foto" />*@
            @Html.TextBoxFor(model=>model.Foto, new { type = "file" })
            
        </li>
        <li data-role="fieldcontain">
            <input type="submit" data-inline="true" value="Guardar">
        </li>   
    </ul>
}



