
@model PortalNeolaser.Models.FormElementoAuditado
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "ElementoAuditado", FormMethod.Post, new { enctype="multipart/form-data", @data_ajax = "false" }))
{

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Detalles</li>

        <li data-role="fieldcontain" class="hidden">
            @Html.LabelFor(m => m.Id )
            @Html.TextBoxFor(model => model.Id)
        </li>
        <li data-role="fieldcontain" class="hidden">
            @Html.LabelFor(m => m.FkAuditoria)
            @Html.TextBoxFor(model => model.FkAuditoria)
        </li>
        <li data-role="fieldcontain" class="hidden">
            @Html.LabelFor(m => m.FkElemento)
            @Html.TextBoxFor(model => model.FkElemento)
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Descripcion)
            @Html.TextAreaFor(model => model.Descripcion)
        </li>
        <li data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <legend>Seleccion Estado:</legend>
                @Html.Label("correcto", "Correcto")
                @Html.RadioButtonFor(model => model.Estado, "true", new { id = "correcto" })
                @Html.Label("incorrecto", "Incorrecto")
                @Html.RadioButtonFor(model => model.Estado, "false", new { id = "incorrecto" })
            </fieldset>
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Observaciones)
            @Html.TextAreaFor(model => model.Observaciones)
        </li>
        <li data-role="fieldcontain">
            @Html.LabelFor(m => m.Foto )
            <input type="file" id="image" name="Foto" maxlength="1000000"/>
            @*@Html.TextBoxFor(model=>model.Foto, new { type = "file" })*@  
        </li>
        <li data-role="fieldcontain" class="list-inline">
            <input type="submit" data-inline="true"  class="ui-btn ui-btn-inline ui-btn-corner-all ui-shadow" value="Guardar">
            <spam><a href="#" class="ui-btn ui-btn-inline ui-btn-corner-all ui-shadow" data-rel="back">Volver</a></spam>
        </li>   
    </ul>
}



