@model IEnumerable<PortalNeolaser.Models.ElementosAuditado>

@{
    ViewBag.Title = "Elementos";
    <br />

}
@{
    if (ViewBag.Estado == false)
    {
        <text>
            <script type="text/javascript">
                 alert('Por favor, continue y finalice con la auditoria.\nGracias!');
            </script>
        </text>
    }
}


<h2>Elementos</h2>
<p>Identificador de Auditoría: @ViewBag.idAuditoria </p>
<a href="@Url.Action("FinalizarAuditoria", new { idAuditoria = ViewBag.idAuditoria })" class="ui-btn ui-btn-inline ui-btn-corner-all ui-shadow">Finalizar Auditoría</a>
<ul data-role="listview" data-filter="true" data-filter-placeholder="Buscar elemento..." data-inset="true">
    @foreach (var item in Model)
    {
        <li>
            <a href="@Url.Action("Edit", new { item.Id })">
                <div class="ui-grid responsive">
                    <div>
                        @{
                            if (item.Estado == true)
                            {
                                <img src="/Content/Images/color_green.png" />
                            }
                            else
                            {
                                if (item.Estado == false)
                                {
                                    <img src="/Content/Images/color_red.png" />
                                }
                                else
                                {
                                    <img src="/Content/Images/color_null.png" />
                                }
                            }

                        }
                        <spam class="label label-success">@Html.DisplayFor(modelItem => item.Elemento.GruposElemento.Nombre)</spam>  
                    </div>
                    <div class="ui-block-a" style="padding:15px;">
                        @{
                            if (item.Foto != null)
                            {
                                <img src="~/Content/uploads/fotos_auditorias/@item.Foto" with="40" height="40" />
                            }
                            else
                            {

                                <img src="~/Content/Images/unknown_photo.png" width="40" height="40" />

                            }
                        }

                    </div>   
                    <div class="ui-block-b" style="padding-top:15px;">

                        <div>Elemento: @Html.DisplayFor(modelItem => item.Elemento.Nombre)</div>
                        <div><small>Descripcion: @Html.DisplayFor(modelItem => item.Elemento.Descripcion)</small></div>

                    </div>                                             
                </div> 
            </a> 
        </li>
    }
</ul>
<br />
<a href="@Url.Action("FinalizarAuditoria", new { idAuditoria = ViewBag.idAuditoria })" class="ui-btn ui-btn-inline ui-btn-corner-all ui-shadow">Finalizar Auditoría</a>