@model PortalNeolaser.Models.LoginModel
@{Layout = "~/Views/Shared/_LayoutWithContiner.cshtml";}

<div class="accountHeader">
    <h2>Iniciar Sesión</h2>
    <p>
        Por favor, introduce el nombre de usuario y la contraseña.
    </p>
    <p style="color:red">@ViewBag.ErrorMessage</p>
</div>
@using(Html.BeginForm()) {
    @Html.AntiForgeryToken()

    @Html.DevExpress().TextBoxFor(m => m.UserName, tb => {
        tb.Properties.Caption = "Nombre Usuario";
        tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        tb.ShowModelErrors = true;
        tb.Properties.ValidationSettings.Display = Display.Dynamic;
        tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
        tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
    }).GetHtml()
    
    @Html.DevExpress().TextBoxFor(m => m.Password, tb => {
        tb.Properties.Caption = "Contraseña";
        tb.Properties.Password = true;
        tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
        tb.ShowModelErrors = true;
        tb.Properties.ValidationSettings.Display = Display.Dynamic;
        tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
        tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
    }).GetHtml()
    
    @Html.DevExpress().CheckBox(cb => {
        cb.Name = "RememberMe";
        cb.Text = "Recordar";
    }).GetHtml()
    <br />
    @Html.DevExpress().Button(b => {
        b.Name = "Button";
        b.Text = "Acceder";
        b.UseSubmitBehavior = true;
    }).GetHtml()
}